@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  width: 100%;
  --main-text-color: #7026b9;
  --alt-text-color: #232129;
  overflow-x: hidden;
}

Link.link {
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: #7026b9;
  background: linear-gradient(90deg, #a456f0, #a456f0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  text-underline-offset: 2px;
}
Link.link:hover {
  text-decoration-color: #a456f0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

h1,
.h1 {
  font-size: 2.5em;
  line-height: 1.15;
  font-weight: 700;
}

h2,
.h2 {
  font-size: 2rem;
  line-height: 1.15;
  font-weight: 700;
}

h3,
.h3 {
  font-size: 1.5rem;
  line-height: 1.15;
  font-weight: 700;
}

h4,
.h4 {
  font-size: 1.25rem;
  line-height: 22px;
  font-weight: 700;
}

b {
  font-weight: 700;
}

p {
  font-size: 18px;
  line-height: 28px;
}

.p {
  font-size: 18px;
}

caption {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  Link:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.head-dark {
  color: var(--alt-text-color);
}

.head-purple b,
.body-purple b,
caption.purple {
  color: var(--main-text-color);
  background: linear-gradient(90deg, #a456f0, #a456f0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}

.head-green b,
caption.green {
  color: #088413;
  background: linear-gradient(90deg, #2ca72c, #1d9520);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}

.head-blue b,
caption.blue {
  color: #006ac1;
  background: linear-gradient(90deg, #0e8de6, #047bd3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}
